/* css reset */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------------------------------- END CSS RESET ------------------------------------- */
/* ------------------------------------- GLOBAL STYLING START ------------------------------------- */

h1 {
  font-family: Roboto, arial;
  font-size: 40px;
  color: white;
}

h2{
  font-family: Roboto, arial;
  font-size: 35px;
  color: white;
}

p {
  font-family: Roboto, arial;
  font-size: 20px;
}

.multi-section{
  margin: 5vh 0 5vh;
  height: 40vh;
  background-color: black;
}

/* ------------------------------------- GLOBAL STYLING END ------------------------------------- */
/* ------------------------------------- HEADER START ------------------------------------- */
header {
  background-color: black;
  width: 100%;
  padding-top: 0.5vh;
}

#information p, #heading-icons {
  padding: 1.5%;
}

#information {
  padding: 10px 5px 5px 5px;
  color: white;
  font-size: 15px;
  align-items: baseline;
}

header #logo-header {
  padding-top: 0.5%;
  margin-left: 25px;
}

header .flex-grid {
  flex-direction: row;
  height: 100%;
}

#logo-header {
  flex-grow: 6;
}

#heading-icons {
  border: blue 3px solid;
  color: white;
}

/* ------------------------------------- HEADER FINISH ------------------------------------- */
/* ------------------------------------- Navigation START ------------------------------------- */
nav {
  display: flex;
  background: black;
  font-family: Roboto, arial;
  font: white;
  font-color: white;
  justify-content: space-around;
  height: 3vh;
  align-items: center;
  font-weight: bolder;
  text-decoration: none;
  margin-top: 10px;
  padding-left: 30vw;
  padding-right: 30vw;
  border-bottom: 4px solid red;
}

nav a {
  display: flex;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 0.2vw;
  padding-bottom: 0.2vw;
  text-decoration: none;
  font-color: white;
  color: white;
}

nav a:visited {
  color: white;
}

nav a:hover {
  background: white;
  color: black;
}

/* ------------------------------------- Navigation End ------------------------------------- */
/* ------------------------------------- FLEX GRID FORMATING START ------------------------------------- */
.flex-grid {
  display: flex;
  /* creates a flex container parent */
  border: solid 1px magenta;
}

.col {
  flex: 1;
  /* make all columns the same width reguardless of the content inside */
  border: solid 1px cyan;
  margin: 5px;
}

/* ------------------------------------- FLEX GRID FORMATING END ------------------------------------- */
/* ------------------------------------- MAIN START ------------------------------------- */
/* ------------------------------------- LANDING START ------------------------------------- */
/* ------------------------------------- Scrolling Gallery START ------------------------------------- */
.scroll-gal {
  display: flex;
  justify-content: flex-end;
  /* Position the content inside of the '.scroll-gal' to the right */
  width: 100%;
  height: 50vh;
  animation: gallery-scroll 20s infinite;
  position: relative;
  background: red;
}

@keyframes gallery-scroll {
  0% {
    background-image: url("https://images.unsplash.com/photo-1532879311112-62b7188d28ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2171&q=80");
  }

  25% {
    background-image: url("https://images.unsplash.com/photo-1612466147934-4a7a64a3abe2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2033&q=80");
  }

  75% {
    background-image: url("https://images.unsplash.com/photo-1593161499316-0cd67918ab6a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1902&q=80");
  }

  100% {
    background-image: url("https://images.unsplash.com/photo-1532879311112-62b7188d28ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2171&q=80");
  }
}

/* ------------------------------------- Scrolling Gallery END ------------------------------------- */
#landing .col {
  display: flex;
  /* turns column into flex container parent */
  justify-content: flex-end;
  align-items: center;


  flex-direction: column;
  height: 50vh;
  margin-left: 0;
  margin-right: 0;

}

#landing{
  margin-top: 0;
  padding-top: 0;
  background-color: black;
}


.landing-text {
  display: flex;
  flex-direction: column;
  /* Prevents the content from flexing to sit side-by-side (default behaviour) */
  width: 40%;
  /* Set a width for the content - percentages work well in this case */
  justify-content: center;
  /* This will vertically center the content inside the div - because the 'flex-direction' has been set to column */
  /* border: red 10px solid; */
}

.cta-buttons {
  margin: 50px 0;
  /* 50px margin for the top and bottom, 0 for the left and right */
}

.landing-paragraph {
  width: 65%;
}

#landing h1 {
  /* display: flex; */
  font-size: 6vh;
  /* margin-top: 5%; */
  /* margin-left: 37%; */
}

#landing pre {
  margin-top: 1.5%;
  color: white;
  font-family: sans-serif;
}

#landing .primary-btn {
  margin-right: 4%;
}

/* ------------------------------------- LANDING END ------------------------------------- */

/* ------------------------------------- PRINTING SECTION START ------------------------------------- */
#printing .col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5vh;

}

#printing div{
    border: solid 4px white;
}

#printing {
  flex-direction: row-reverse;
  height: 100%;
}

#printing p{
  color: white;
}
#printing img{
  height: 100%;
  width: 100%;
}
/* ------------------------------------- PRINTING SECTION END ------------------------------------- */
#framing .col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#framing {
  flex-direction: row;
}

#buy-art .col {
  display: flex;
  /* turns column into flex container parent */
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-direction: column;
  height: 50vh;
  margin-left: 0;
  margin-right: 0;
}

#testimonials .col {
  display: flex;
  /* turns column into flex container parent */
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-direction: column;
  height: 50vh;
  margin-left: 0;
  margin-right: 0;
}

/* ------------------------------------- MAIN END ------------------------------------- */
/* -------------------------------------  START OTHER STUFF ------------------------------------- */
.logo {
  font-family: Roboto, arial;
  font-size: 70px;
  font-style: normal;
  font-weight: bolder;
  background: black;
  color: white;
  text-decoration: none;
}

.logo:last-of-type {
  font-size: 20px;
  display: block;
  padding-left: 100px;
}

/* +++ Buttons +++ */
.primary-btn {
  display: inline;
  background-color: lightblue;
  padding: 2px 2px 2px 2px;
  border: solid 10px lightblue;
  border-radius: 5px;
  font-family: Roboto, Arial;
  font-weight: bolder;
  text-decoration: none;
}

.secondary-btn {
  display: inline;
  background-color: lightblue;
  padding: 2px 2px 2px 2px;
  border: solid 10px lightblue;
  border-radius: 5px;
  font-family: Roboto, Arial;
  font-weight: bolder;
  text-decoration: none;
}

/* ++++++++++++ FIX THIS STUFF AND REMOVE LATER  ++++++++++++++ */
header .col, header .flex-grid, header #heading-icons {
  border: 0;
}
